<a-scene>

    <a-assets>
        <audio id="pop" src="sound/Blop-Mark_DiAngelo-79054334.mp3">
    </a-assets>

    <!-- Cursor -->
    <a-entity position="-3 3 -3" rotation="-20 -133 0">
        <a-camera  look-controls wasd-controls >
            <a-cursor color="#000"></a-cursor>
        </a-camera>
    </a-entity>

    <a-sphere ng-repeat="ball in balls" cursor-listener
              radius="0"
              ng-attr-radius="{{ball.r}}"
              ng-attr-position="{{ball.x}} {{ball.y}} {{ball.z}}"
              ng-attr-color="{{getColour(ball)}}"
              id="{{ball.id}}"
              sound="src: #pop"
              ball>
    </a-sphere>

    <a-sky color="#e5fffe"></a-sky>

</a-scene>
